---
import Nav from "../components/Nav.astro"
import Loader from "../components/Loader.astro"
import Projects from "../components/Projects.astro"
import Jss from "../components/Jss.astro"
import Gallery from "../components/Gallery.astro"
import Header from "../components/Header.astro"
import Social from "../components/Social.astro"
import Side from "../components/Side.astro"
import About from "../components/About.astro"
import Contact from "../components/Contact.astro"
import Footer from "../components/Footer.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
        <link rel="shortcut icon" type="image/png" href="../../public/images/mlg.png">
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="../../public/styles/styles.css" media="all">
         <title>Medmh Portfolio Website</title>
	</head>
	<body>
    <div class="cursor"></div>
    <div class="container">
    <Loader/>
    <div class="main">
    <Side />
    <Nav />
    <Social />
    <Header />
    <Gallery />
     <h1 class="tlt">Projects</h1>
    <Projects />
    <About />
    <Contact />
    </div>
    <Footer />
    </div>
    <Jss />
    <script src="https://kit.fontawesome.com/dffcb81fbc.js" crossorigin="anonymous"></script>
	</body>
</html>
