---
---


 <section id="about" class="about">
                <h1 class="tlt" style=" padding-bottom:5vh;">About Me</h1>
                    <p class="text">
                        Hey! My Name is Mohamed i've Always been a big fan of everything related to computers and creating things with it , so i started learning Html & Css back in 2018 and since then, i kept learning   technologies like javascript python flask and figma 

                    </p>
                    <p class="text">some technologies i used in the past:</p>
                    <ul>
                        <li><i class="fab fa-js"></i>JS</li>
                        <li><i class="fab fa-node-js"></i>Node js</li>
                        <li><i class="fa-brands fa-react"></i>React</li>
                        <li><i class="fa-brands fa-golang"></i>Golang</li>
                        <li><i class="fab fa-python"></i>Python</li>
                        <li><i class="fab fa-css3"></i>Css</li>
                        <li><i class="fab fa-html5"></i>Css</li>
                    </ul>
</section>
