---
---
 <br>
            <h2 class="tlt">Get In Touch</h2>
            <section id="contact" class="contact">
                <p class="text">
                    hey if you pass by and you want to ask some questions or just say hi my inbox is always open 
                </p>
                <button class="btn"><a style="  color: #63f0fa;
                    text-decoration: none;" href="mailto:medmystgon@gmail.com">Say Hi</a></button>
            

            </section>
