---
---
 <footer>
            <ul class="fs">
                <li><a href="https://github.com/medragneel" target="_blank"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.facebook.com/mirai.dragneel" target="_blank"><i class="fab fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/leo.art1/?utm_medium=copy_link&fbclid=IwAR1GKg32sqewhtpAYxty1STfzmyj2nzfGUSV0CYKd_yStQnyfGgLq2zD-fE" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://codepen.io/gmfcngtd"><i class="fab fa-codepen"></i></a></li>

            </ul>
            Designed & Built by @Medmh 
        </footer>
