---
---
 <div class="content">
                <section class="one">
                    <h1>Hi I'm</h1>
                </section>
                <section class="two">
                    <h2>MedMh</h2>
                </section>
                <section class="three">
                    <h3>A self-taught developer</h3>
                </section>
                <button class="btn btn1">
                    <a href="" target="_blank">Download My Resume</a>
                </button>
            </div>

